.ol-zoom {
    left: unset;
    right: unset;
    right: 10px;
}

.custom-zoom-extent {
    left: unset;
    right: unset;
    right: 10px;
    top: 70px;
}

.placeholderbasemapswitcher {
    position: absolute;
    left: 10px;
    bottom: 10px;
    z-index: 999;
    width: 75px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.5);
}

.basemapswitch {
    padding-top: 2.5px;
    text-align: center;
}

.basemapswitch:hover {
    transform: scale(0.9);
}

.osm,
.satelliet {
    /* positioneert de afbeedling in ruimte van div */
    background-position: center center;
    /* zorgt ervoor dat de afbeelding de breedte gebruikt */
    background-size: cover;
}

.osm {
    background-image: url('../img/osm.png');
}

.satelliet {
    background-image: url('../img/satelliet.png');
}


input[type="radio"] {
    display: none;
}

/*  als de laag is geselecteerd moet de filters uitstaan */
input[type="radio"]:checked+.layer-thumbnail {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

/* properties voor de vorm van het plaatje */
.layer-thumbnail {
    position: relative;
    background-repeat: no-repeat;
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: auto;
}

.layer-thumbnail:hover {
    cursor: pointer;
}



/* Style the tab */
.tab,
.tab2,
.tab3 {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab{
    margin-bottom: 2px;
}

.tab button,
.tab2 button,
.tab3 button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 33.3%;
}

/* Change background color of buttons on hover */
.tab button:hover,
.tab2 button:hover,
.tab3 button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active,
.tab2 button.active,
.tab3 button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}

.tabcontent2,
.tabcontent3 {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}